@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    background: #000000;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: #FFFFFF;
    width: 600px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 4px;
}


/*======== color display section =============*/
.section {
    margin-bottom: 5px;
}

.section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_header h3 {
    font-size: 16px;
    color: #343f49;
}

.section_header_action {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    background: transparent;
    color: #ff6733;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}

.divider {
    background: #dddeee;
    width: 99%;
    height: 1px;
    margin: 5px 0;
}

.display_color {
    width: 100%;
    height: 140px;
    border-radius: 5px;
    border: 1px solid #dddeee;
    background: #dddeee;
    margin: 15px 0;
    
}

/*========= color copy mode selection ============*/
.copy_mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy_inputs_group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.copy_mode_title {
    font-size: 14px;
    color: #343f49;
    user-select: none;
}

label {
    user-select: none;
}

.copy_mode_input {
    display: flex;
    font-size: 12px;
    gap: 5px;
}

.copy_mode_input input {
    cursor: pointer;
}


/*=========== selected color code display ==============*/
.select_color_code {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
	margin: 16px 0 5px 0;
}

.rgb_input_group label, .hex_input_group label {
    display: block;
    color: #343f49;
    font-weight: 600;
}

.rgb_input_group input  {
    margin-top: 3px;
    padding: 5px 11px;
    outline: 0;
    border: 1px solid #dddeee;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    width: 250px;
    background: #FFF;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.hex_input_group {
    position: relative;
}

.hex_icon {
    position: absolute;
    top: 25px;
    left: 8px;
    background: #dddeee;
    padding: 1px 4px;
}

.hex_input_group input {
    margin-top: 3px;
    padding: 5px 28px;
    outline: 0;
    border: 1px solid #dddeee;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    width: 250px;
    background: #FFF;
    box-shadow: 0px 4px 6px 2px rgba(241, 241, 241, 0.2);
    margin-left: 7px;
}


/*============== rgb color adjust ==============*/
.rgb_color_ranges {
    margin-top: 22px;

}

.color_ranges_group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
}

.ranges_label_group p {
    font-size: 13px;
    font-weight: 600;
}

.red_label {
    color: #FF0000;
}

.green_label {
    color: #00FF00;
}

.blue_label {
    color:  #0000FF;
}

.color_range {
    color: #ff6733;
}

/*============= Toast Message ==============*/
.toast-message{
    top: 15px;
    right: 32px;
    background: #4285F4;
    color: #FFF;
    border: 1px solid #4285F4;
    position: fixed;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.2);
}

.toast-message-slide-in {
    animation: toast-animation-in 0.6s ease-in;
}

.toast-message-slide-out{
    animation: toast-animation-out 0.6s ease-in;
}

@keyframes toast-animation-in {
    from{
        transform: translateX(200px);
        opacity: 0;
    }to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes toast-animation-out {
    from{
        transform: translateX(0px);
        opacity: 1;
    }to {
        transform: translateX(200px);
        opacity: 0;
    }
}


/*============= Preset Colors =================*/
.preset_colors {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}


.single_colorBox {
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    transition: all 0.5s ;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.single_colorBox:hover {
    opacity: 0.9;
}